.gallery {
    padding-top: 60px;
    padding-bottom: 60px;
}

#gallery .heading-section .subheading-gallery {
    color: #049B34;
    font-size: 18px;
  }

.gallery .col-lg-3 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}